/*main.scss */

body {
    font-family: 'Karla', sans-serif;
    color: white;
    background: linear-gradient(to right, #42275a, #734b6d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

header {
    font-size: 2rem;
    margin-top: 1rem;
}
.content-outer-container {
    margin-top: 2rem;
}

.content-body {
    min-height: 70vh;
}

.point {
    border: 2px solid;
    padding: 0.5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}

#progressContainer {
    margin-top : 1rem;
}

#question {
    border: 2px solid;
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 5px; 
}

.option {
    border: 2px solid;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
        background: linear-gradient(to right, #eb3349, #f45c43); 
        border-color : transparent;
        transition: 0.5s;
    }
}

.correct-answer {
    border-color : transparent;
    background: linear-gradient(to right, #56ab2f, #a8e063) !important; 
}

.incorrect-answer {
    border-color : transparent;
    background: linear-gradient(to right, #ed213a, #93291e) !important; 
}

.progress {
    background-color: #d6ae7b !important; 
}

#resultDiv{
    margin-top: 3.5rem;
}

#resultText{
    font-size: 2rem;
}

.hide-element{
    display: none !important;
}